%h1
  = @plays.count
  Latest Tracks
%table.songlist
  %tbody
    - @plays.each do |play|
      %tr
        %td.first
          .art
            - if play.sleeve_ct then
              %img{src: %[data:#{play.sleeve_ct};base64,#{[play.sleeve].pack('m')}]}/
            - else
              .missing
                No album art.
        %td.second
          - # artist, album
          %strong.title
            =  play.title.gsub(/^B\d\d___(\d\d)_(\d)?([^_]+).+$/i, '\2 \3 \1')
            .runtime
              = play.seconds.divmod(60).map {|x| %[00000#{x}][-2 .. -1]}.join(':')
          .time
            =  time_ago_in_words play.last_play.localtime
            ago
          .autres
            .artist
              = play.artist
            .album
              = play.album
              - if play.year > 1900 then
                .albumyear
                  = play.year
